* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none; }

@font-face {
  font-family: Buffalo;
  src: url(../src/typo/Buffalo.otf); }

@font-face {
  font-family: SFPro;
  src: url(../src/typo/SFProMedium.OTF); }

@font-face {
  font-family: SFProB;
  src: url(../src/typo/SFPRODISPLAYBOLD.OTF); }

@media only screen and (min-width: 1000px) {
  .bg-light, .navbar-light {
    background-color: #6E845F !important;
    height: 90px;
    width: 100%; }
    .bg-light .navbar-brand, .navbar-light .navbar-brand {
      position: absolute;
      left: 90%; }
      .bg-light .navbar-brand img, .navbar-light .navbar-brand img {
        width: 80px; }
        .bg-light .navbar-brand img:hover, .navbar-light .navbar-brand img:hover {
          transition: 1.5s;
          transform: rotate(360deg); }
    .bg-light .nav-link, .bg-light .active, .navbar-light .nav-link, .navbar-light .active {
      font-family: SFPro !important;
      color: #ffffff !important;
      font-size: 20px;
      margin: 55px; }
      .bg-light .nav-link:hover, .bg-light .active:hover, .navbar-light .nav-link:hover, .navbar-light .active:hover {
        color: #EFC16D !important; } }

@media only screen and (max-width: 1000px) {
  .bg-light, .navbar-light {
    background-color: #6E845F !important;
    height: auto;
    width: 100%; }
    .bg-light .navbar-brand, .navbar-light .navbar-brand {
      position: absolute;
      left: 85%; }
      .bg-light .navbar-brand img, .navbar-light .navbar-brand img {
        width: 50px; }
    .bg-light .nav-link, .bg-light .active, .navbar-light .nav-link, .navbar-light .active {
      font-family: SFPro;
      color: #ffffff !important;
      font-size: 15px;
      margin: 5px; } }

#carouselExampleIndicators {
  width: 100%; }
  #carouselExampleIndicators .carousel-inner {
    width: 100%; }
    #carouselExampleIndicators .carousel-inner .carousel-item {
      width: 100%; }
      #carouselExampleIndicators .carousel-inner .carousel-item img {
        width: 100%; }

@media only screen and (min-width: 768px) {
  .mainIndex {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'imagen texto';
    width: 100%;
    background-color: #ffffff;
    margin-top: 60px;
    margin-bottom: 30px; }
    .mainIndex .imagen {
      grid-area: imagen;
      margin: 0 auto; }
      .mainIndex .imagen .lucia {
        width: 100%;
        margin: 10px; }
        .mainIndex .texto {
      grid-area: texto;
      width: 90%;
      margin: 0 auto; }
      .mainIndex .texto h1 {
        font-family: Buffalo;
        color: #C47B6A;
        font-size: 4vw;
        padding-top: 30px; }
        .mainIndex .texto .txt1 {
        font-family: SFPro;
        margin-top: 2vw;
        color: #666666;
        font-size: 1.5vw;
        text-align: justify; }
        .mainIndex .texto .txt1 span {
          font-family: SFProB !important; }
          .mainIndex .texto .txt2 {
        font-family: Buffalo;
        margin-top: 50px;
        color: #6E845F;
        font-size: 2.4vw;
        text-align: justify; } }

@media only screen and (max-width: 768px) {
  .mainIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'imagen'
 'texto';
    width: 100%;
    background-color: #ffffff;
    margin-top: 40px;
    margin-bottom: 30px; }
    .mainIndex .imagen {
      justify-content: center;
      grid-area: imagen;
      margin: 0 auto;
      width: 80%; }
      .mainIndex .imagen .lucia {
        width: 100%; }
        .mainIndex .texto {
      grid-area: texto;
      width: 80%;
      margin: 0 auto; }
      .mainIndex .texto h1 {
        font-family: Buffalo;
        color: #C47B6A;
        font-size: 6.5vw;
        text-align: center;
        margin-top: 6vw; }
        .mainIndex .texto .txt1 {
        font-family: SFPro;
        margin-top: 2.5vw;
        color: #666666;
        font-size: 2.3vw;
        text-align: justify; }
        .mainIndex .texto .txt1 span {
          font-family: SFProB !important; }
          .mainIndex .texto .txt2 {
        font-family: Buffalo;
        margin-top: 5vw;
        color: #6E845F;
        font-size: 4.2vw;
        text-align: justify; } }

.sobreIvore {
  width: 100%;
  background: url("../src/images/Fondo.png");
  padding: 4vw; }
  .sobreIvore .cuerpo {
    width: 85%;
    margin: 0 auto;
    background-color: #ffffff; }
    .sobreIvore .cuerpo .titulo {
      margin-top: 30px;
      text-align: center;
      color: #C47B6A;
      font-family: Buffalo;
      font-size: 6vw; }
    .sobreIvore .cuerpo .parrafo {
      font-family: SFPro;
      color: #666666;
      font-size: 1.5vw;
      text-align: justify;
      margin-top: 20px; }
      .sobreIvore .cuerpo .parrafo .verde {
        color: #6E845F; }
      .sobreIvore .cuerpo .parrafo .amarillo {
        color: #EFC16D; }
      .sobreIvore .cuerpo .parrafo .violeta {
        color: #CEA5D0; }
    .sobreIvore .cuerpo .collage {
      width: 100%; }
    .sobreIvore .cuerpo .imgtxt {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: auto; }
      .sobreIvore .cuerpo .imgtxt img {
        width: 50%; }
      .sobreIvore .cuerpo .imgtxt h3 {
        width: 50%;
        font-family: SFPro-M;
        font-size: 1.5vw;
        align-self: center;
        color: #666666; }
